<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CurrencyMarket</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>

        .filters{
            display: flex;
            align-items: center;
        }

        .filters .filters__select-sort{
            margin-left: 10px;
        }

        .filters .filters__date{
            margin-left: 10px;
        }

        .currency{
            width: 400px;
            height: 400px;
            overflow: scroll;
            border: 1px solid rgba(0,0,0,0.3);
            margin-top: 10px;
        }

        .currency .currency__item{
            display: flex;
        }

        .currency .item__value{
            margin-left: 10px;
        }

        .button{
            margin-top: 10px;
        }

        .button .button__button{
            width: 200px;
            height: 40px;
        }

    </style>
</head>
<body>
<div id="app">
    <div class="filters">
        <select class="filters__select-filter" v-model="filteredCharCodes" multiple>
            <option value="" disabled>Без фильтра</option>
            <option v-for="charCode of charCodes" :value="charCode">{{charCode}}</option>
        </select>
        <select class="filters__select-sort" v-model="sortId">
            <option :value="0">Сортировка по имени по возрастанию</option>
            <option :value="1">Сортировка по имени по убыванию</option>
            <option :value="2">Сортировка по значению по возрастанию</option>
            <option :value="3">Сортировка по значению по убыванию</option>

        </select>
        <div class="filters__date">
            <label for="start">Start date:</label>
            <input type="date" id="start"
                   name="trip-start"
                   min="2018-01-01"
                   max="2022-07-27"
                   v-model="date"
            >
        </div>
    </div>
    <div class="currency">
        <div class="currency__item item" v-for="valute of valutes" v-bind:key="valute.id">
            <p class="item__name">{{valute.name}}</p>
            <p class="item__value"><strong>{{valute.value}} ₽</strong></p>
        </div>
    </div>
    <div class="button">
        <button class="button__button" @click="getCurrency">Получить значения</button>
    </div>
</div>


<script>
    const app = new Vue({
        el: '#app',
        data: {
            valutes: [],
            date: '',
            sortId: 0,
            filteredCharCodes: [],
            charCodes: [],
        },
        methods: {
            async getCurrency(){
                this.valutes = []
                const res = await axios(`${window.location.origin}/api/currency`,{
                    params: {
                        filterCharCodes: this.filteredCharCodes,
                        date: this.convertDateStringToDMYFormat(this.date,'/'),
                        sort: this.sortId
                    }
                })

                this.valutes = [...res.data];
            },

            convertDateStringToDMYFormat(dateString = '2022-07-05',separator = '/'){
                const [year,month,day] = dateString.split('-');
                return `${day}/${month}/${year}`
            }
        },
        async mounted(){
            const dt = new moment()
            this.date = dt.format("YYYY-MM-DD")
            await this.getCurrency();
            this.charCodes =  this.valutes.map((valute) => valute.charCode)

        }
    })
</script>
</body>
</html>